SYSTEM
CACHE
name: L1i
level: 1
type: insn
shared: 0
size_kb: 32
line_size: 64
ways_n: 8
evict: plru
inclusion: non-inclusive
enclave_ways_n: 0
partition: 0
set_partition: 0
CACHE
name: L1d
level: 1
type: data
shared: 0
size_kb: 32
line_size: 64
ways_n: 8
evict: plru
enclave_ways_n: 0
partition: 0
inclusion: non-inclusive
set_partition: 0
CACHE
name: L2
level: 2
type: unified
shared: 0
size_kb: 256
line_size: 64
ways_n: 4
evict: plru
enclave_ways_n: 0
partition: 0
inclusion: non-inclusive
set_partition: 0
CACHE
name: L3
level: 3
type: unified
shared: 1
size_kb: 8192
line_size: 64
ways_n: 16
enclave_ways_n: 0
partition: 0
evict: plru
inclusion: inclusive
set_partition: 0
